@font-face {
  font-family: MontserratAlternates-Regular;
  src: url(./fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
  font-family: MontserratAlternates-SemiBold;
  src: url(./fonts/MontserratAlternates-SemiBold.ttf);
}

@font-face {
  font-family: MontserratAlternates-Bold;
  src: url(./fonts/MontserratAlternates-Bold.ttf);
}

.Montserrat-Bold {
  font-family: MontserratAlternates-Bold;
}

.Montserrat-Regular {
  font-family: MontserratAlternates-Regular;
}

.Montserrat-SemiBold {
  font-family: MontserratAlternates-SemiBold;
}
