@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url('./fonts/MontserratAlternates-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url('./fonts/MontserratAlternates-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-display: auto;
  src: url('./fonts/MontserratAlternates-Bold.ttf');
}

.backgroundGradient {
  background: linear-gradient(
    180deg,
    rgb(73 190 183) 0%,
    rgb(73 190 183) 25%,
    rgb(223 255 242) 94%
  );
}

* {
  font-family: 'Montserrat' !important;
}
